[Desktop Entry]
Name=Cosmic Hardware Monitor
Comment=Hardware temperature, CPU, GPU, NVMe and system monitor for COSMIC Desktop
Type=Application
Exec=cosmic-ext-hardware-monitor
Terminal=false
Categories=Utility;System;Monitor;X-Cosmic;
Icon=io.github.kaijg.CosmicHardwareMonitor
StartupNotify=true
NoDisplay=false
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
