[Desktop Entry]
Name=Hardware Monitor for COSMIC™
Comment=Hardware temperature, CPU, GPU, NVMe and system monitor for the COSMIC™ desktop
Type=Application
Exec=cosmic-ext-hardware-monitor
Terminal=false
Categories=Utility;System;Monitor;X-Cosmic;
Icon=io.github.kai_j_g.HardwareMonitor
StartupNotify=true
NoDisplay=false
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
